.header{
    background-color: $text-background;
    border-radius: 20px 20px 0px 0px;
   
     p{
       
      @include flexcenter ();
      
        font-size: 35px;
        padding: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 1rem;

     }
    
}